 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Over Ons</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p> Wij zijn Picobello B.V. klein maar fijn. Wij houden van simpel. "Onderkant zak is bovenkant bak" </p>
                 <p> Onze monteurs zijn Arie, Fons, Huib en Stef. De administratie wordt gedaan door Samantha en Bep.</p>
                </div>
                <div class="col-lg-4">
                    <p>Mocht er na een succes oplevering toch nog wat zijn? Bel ons even op werkdagen vanaf 10:00 tot 14:00.</p>
                     <p>Wij ontvangen nog wel eens klachten over onze monteurs qua rij gedrag, maar jullie lokken het soms ook uit.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://google.nl" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Klachtenbrief
                    </a>
                </div>
            </div>
        </div>
    </section>
