 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Over Ons</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p> Wij zijn Picobello Enterprises, klein maar fijn. Wij houden van simpel. Niet lullen maar poetsen, u zult ons vaak onze one-liners horen gebruiken op locatie. "Onderkant zak is bovenkant bak" dit zijn gewoon de tips en tricks die het er toe doen.</p>
                </div>
                <div class="col-lg-4">
                    <p>Mocht er na een succes oplevering toch nog wat zijn? ‘Belt u na het weekend maar naar dit nummer mevrouwtje’</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://google.nl" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Klachtenbrief
                    </a>
                </div>
            </div>
        </div>
    </section>
